.card-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-card-chooiced {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    animation: 0.5s fade ease-in;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count button {
    padding: 10px;
    color: black;
    outline: none;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-left: 10px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(-30px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}