.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 980px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}